.chat-window {
    background: #fbf8f4;
    border-radius: 9px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    margin-top: 15px;
    height:calc(100vh - 40px);
    font-family: Panton,sans-serif;
}

.header {
    height: 2em;
    font-size: 1.2em;
    padding: 10px;
    color:#626b7b;
}

.back i {
    color:#8fc2be;
    font-size: 1.5em;
    cursor: pointer;
}

.chat-container {
  height:calc(100vh - 4em - 75px);
  overflow: auto;
}

.chat-input {
    height: 2em;
    padding: 10px;
}

#chat-message {
    box-shadow:none;
}

#custom-chat-input{
    border: none;
    background: transparent;
    color: #8fc2be;
}

#custom-chat-input input{
    border: 0;
    background: transparent
}

#custom-chat-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;
}

#custom-chat-input button:hover {
    color: #8fc2be;
    cursor: pointer;
}

#custom-chat-input .send-icon {
    font-size: 23px;
}
