<div class="row chat-window card">
  <div class="col-md-12">
    <div class="row">
      <div class="header col-md-12">
        Welcome, Customer
      </div>
    </div>
    <div class="row">
      <div class="chat-container col-md-12"></div>
    </div>
    <div class="row">
      <div class="chat-input col-md-12">
        <div class="row">
          <div id="custom-chat-input" class="col-md-12">
              <div class="input-group">
                <input #chatMessage type="text" class="form-control" placeholder="Type here to chat..." />
                <span class="input-group-btn">
                  <button (click)="sendMessage(chatMessage.value)" class="btn btn-info btn-lg" type="button">
                    <i class="fa fa-paper-plane send-icon"></i>
                  </button>
                </span>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>     